<!DOCTYPE html>
<html>
    <head>
        <meta charset = "utf-8">
        <title> {{pageTitle}}</title>
    </head>
    <body>
        {{> header}}
        <p>Website is currently being maintained</p>
        {{> footer}}
    </body>
</html>
